<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        body { padding-top:50px; }
    </style>
    script(src='./app.js')
</head>
<body>
    <div class="container">
        <div class="jumbotron body">
            <button class="btn btn-dark" onclick="redirect('login')">Login</button>
            <button class="btn btn-dark" onclick="redirect('signup')">Sign Up</button>
        </div>
    </div>
</body>
</html>