<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/styles.css">
        script(src='./app.js')
    </head>
    <body>
        <h1> Login </h1>
        <form method="POST" action="/Authorize">
            <input placeholder="Username" name="username" required>
            <input placeholder="password" name="password" type="password" required>
            <button type="submit">Login</button>
        </form>
    </body>
</html>