html
  head
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    script
        include ../Helpers/app.js
    style
        include ../Helpers/styles.css
    title= title
  body
    h1= message