html
  head
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    script
        include ../Helpers/app.js
    style
        include ../Helpers/styles.css
    title= title
  body
    <div class="container body-todo-push">
        <form method="POST" action="/todo/add-todo">
            <input name="todo" class="control-form" placeholder="Add new">
             <button class="btn" type="submit">ADD</button>
        </form>
            for item in todos
                <div>
                    li= item.todo
                    <form method="POST" action="/todo/delete-todo">
                        <button type="submit" name="id" value="#{item.id}" class="btn">#{item.id}</button>
                    </form>
                </div>
    </div>